*
{
    margin: 0;
    margin-bottom: 20px;
}

body
{
    background-color: #1d1d1d;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25rem;
}

#container
{
    background-color: black;
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 2rem;
    box-sizing: border-box;
}

.url-input
{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

input[type=text]
{
    padding: 0.5rem 1rem;
    flex: 1;
    margin-right: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

input[type=button]
{
    padding: 0.5rem 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1rem;
}

input[type=button]:hover
{
    cursor: pointer;
}

input
{
    border: 2px solid #1d1d1d;
    background-color: #1d1d1d;
    color: white;
}

input:hover,
input:active,
input[type=text]:focus
{
    border: 2px solid #ee720d;
}

.repo
{
    background-color: #1d1d1d;
    padding: 0.5rem 1rem;
}

.repo .title .id
{
    margin-right: 20px;
}

.repo .labels
{
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
}

.repo .labels .label
{
    margin-right: 10px;
    background-color: black;
    padding: 0.25rem 1rem;
    font-size: 1rem;
}

.repo .meta
{
    font-size: 1rem;
}

.hidden
{
    display: none;
}

.block
{
    background-color: #1d1d1d;
    padding: 0.5rem 1rem;
}

.error
{
    background-color: #ff4c4c;
}

.block .description
{
    margin-bottom: 0;
}

a
{
    color: #ee720d;
    text-decoration: none;
}

a:hover
{
    color: #1EAEDB;
}