<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="small website that fetches a random issue from a github repo.">
    <meta name="author" content="CodeMyst">
    <meta name="twitter:card" content="small website that fetches a random issue from a github repo.">
    <meta name="twitter:description" content="small website that fetches a random issue from a github repo.">
    <meta name="twitter:site" content="@CodeMyst">
    <meta name="twitter:creator" content="@CodeMyst">
    <meta property="og:description" content="small website that fetches a random issue from a github repo.">
    <meta property="og:title" content="IssueMyst">
    <title>IssueMyst</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="container">
        <h1>IssueMyst</h1>
        <p class="description">don't know what issue to work on next? we'll pick a random one for you, just enter the repo url (works only for public repos).</p>

        <div class="url-input">
            <input type="text" name="repo-url" id="repo-url" placeholder="repo url">
            <input type="button" value="fetch a random issue">
        </div>

        <div class="repo hidden">
            <div class="title">
                <p><span class="id">[#98]</span><a href="#">autodetecting the language</a></p>
            </div>
            <div class="labels">
            </div>
        </div>

        <div class="loading block hidden">
            <div class="title">loading...</div>
            <p class="description">this might take a while depending on the number of issues</p>
        </div>

        <div class="error block hidden">
            <p class="title">error</p>
            <p class="description"></p>
        </div>
    </div>

    <footer>
        <p>site made by <a href="https://myst.rs" target="_blank">CodeMyst</a></p>
        <p>check out IssueMyst on <a href="https://github.com/codemyst/issuemyst" target="_blank">GitHub</a></p>
    </footer>

    <script src="/static/script.js"></script>
</body>
</html>